<div class="container">
  <div *ngIf="images">
    <div
      class="card mx-auto mt-5 mb-5"
      style="width: 25rem;"
      *ngFor="let image of images"
    >
      <img [src]="image.url" class="card-img-top" style="height:22rem;" />
      <div class="card-body">
        <h5 class="card-title text-center">{{ image.caption }}</h5>
      </div>
      <div class="card-body text-center">
        Lorem ipsem
      </div>
      <div class="card-footer text-center">
        Uploaded by: {{ image.username }}
      </div>
    </div>
  </div>
</div>
