<div>
  <!-- Showing server error messages(if any)  -->
  <div
    class="alert alert-danger mx-auto mt-5 text-center"
    *ngIf="changePasswordForm.errors?.serverError"
    style="width:25rem;"
  >
    {{ changePasswordForm.errors.serverError }}
  </div>
  <!-- Showing succes response from the server -->
  <div
    class="alert alert-success mx-auto mt-5 text-center"
    *ngIf="successResponse"
    style="width:25rem;"
  >
    {{ successResponse }}
  </div>

  <div
    class="alert alert-danger mx-auto mt-2 text-center"
    *ngIf="changePasswordForm.get('resetToken').errors?.serverError"
    style="width:25rem;"
  >
    {{ changePasswordForm.get("resetToken").errors.serverError }}
  </div>
  <div class="card mx-auto mt-5" style="width:25rem;">
    <div class="card-header">
      <h4>Change Password</h4>
    </div>
    <div class="card-body px-4">
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="changePassword(changePasswordForm)"
      >
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            [class.is-invalid]="
              changePasswordForm.get('email').errors?.serverError
            "
          />
          <span
            class="invalid-feedback"
            *ngIf="changePasswordForm.get('email').errors?.serverError"
            >{{ changePasswordForm.get("email").errors.serverError }}</span
          >
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            [class.is-invalid]="
              changePasswordForm.get('password').errors?.serverError
            "
          />
          <span
            class="invalid-feedback"
            *ngIf="changePasswordForm.get('password').errors?.serverError"
            >{{ changePasswordForm.get("password").errors.serverError }}</span
          >
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password_confirmation"
            [class.is-invalid]="
              changePasswordForm.get('password_confirmation').errors
                ?.serverError
            "
          />
          <span
            class="invalid-feedback"
            *ngIf="
              changePasswordForm.get('password_confirmation').errors
                ?.serverError
            "
            >{{
              changePasswordForm.get("password_confirmation").errors.serverError
            }}</span
          >
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
