<div>
  <div class="card mx-auto mt-5" style="width:25rem;">
    <div class="card-header">
      <h4>Change Password</h4>
    </div>
    <div class="card-body px-4">
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="changePassword(changePasswordForm)"
      >
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password_confirmation"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
