<div>
  <div class="card mx-auto mt-5" style="width:30rem;">
    <div class="card-header"><h4>Send reset email</h4></div>
    <div class="card-body px-4">
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword(resetPasswordForm)"
      >
        <div class="form-group">
          <label>Enter your email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-secondary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
